<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis obcaecati quae dolor hic illum laudantium blanditiis! Minima laboriosam eos facilis quisquam ullam eligendi voluptatem dignissimos excepturi! Quod esse accusantium quibusdam ut odit eius dolor temporibus minima, dolores voluptas magnam doloribus?</p>
    </div>
</div>